body {
  background-color: #2a2e30;
  color: rgb(233, 233, 233);
}
#title{
  text-align: center;
}
#myBtn {
  width: 5%;
margin: 10px 10px auto auto;
  border: none;
  font-size: 40px;
  background-color: #2a2e30;
  color: white;
  float: right;
  cursor: pointer;
}

/* photo */
#photo-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#video-container {
    margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photo-container {
    margin-top: 100px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#photo-app {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.photo-btn {
  margin-top: 30vh;
  width: 90%;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}

/* gallery */
#gallery {
  overflow: scroll;
  width: 80%;
  height: 100vh;
}
#gallery div {
  margin-top: 20px;
 float:left;
width: 50%;
}
#gallery div img {
   width: 70%;
}

#gallery button {
  position: fixed;
  margin-left: -10px;
  background-color: #555;
  font-size: 16px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

#gallery button:hover {
  background-color: black;
}
#title{
  text-align: center;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  flex-direction: column;
  background-color: #2A2E30;
}

#modal-content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* The Close Button */
.close {
  color: rgb(243, 237, 237);
width: 5%;
font-size: 40px;
padding: 20px;
margin: 10px 10px auto auto;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
